h1{
    color: blue;
    border: blue 2px solid;
    padding: 1%;
    background-color: rgb(184, 241, 129);
    border-radius: 4%;
    position: absolute;
    top: 20px; left: 10%;
}
p{
    background-color: darkcyan;
    width: 70%;
    font-size: x-large;
    position: absolute;
    top: 90px; left: auto;

}